# This file is for force overwriting the Python libraries to ensure ROS execution
pydantic>=2.5.1 # python3-pydantic is old (1.8.2-1)
transforms3d==0.4.2 # python3-transforms3d is old (0.3.1)
numpy<2 # If not specified, numpy 2 will be installed with nuscenes-devkit installation
