name: colcon-test

on:
  pull_request:
    types: [opened, synchronize]
    paths: [driving_log_replayer/**, .github/workflows/colcon_test.yml]
  schedule:
    - cron: 0 0 * * 0
  workflow_dispatch:

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ros_distribution:
          - humble
        include:
          # Humble Hawksbill (May 2022 - May 2027)
          - docker_image: rostooling/setup-ros-docker:ubuntu-jammy-ros-humble-ros-base-latest
            ros_distribution: humble
            ros_version: 2
    container:
      image: ${{ matrix.docker_image }}
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.11.0
        with:
          access_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 2

      - name: Search packages in this repository
        id: list_packages
        run: |
          echo package_list=$(colcon list --names-only | sed -e ':loop; N; $!b loop; s/\n/ /g') >> $GITHUB_OUTPUT

      - name: Setup ROS environment
        uses: ros-tooling/setup-ros@0.7.0
        with:
          required-ros-distributions: ${{ matrix.ros_distribution }}

      - name: build and test
        uses: ros-tooling/action-ros-ci@0.3.5
        with:
          package-name: ${{ steps.list_packages.outputs.package_list }}
          target-ros2-distro: ${{ matrix.ros_distribution }}
          vcs-repo-file-url: dependency.repos
          import-token: ${{ secrets.GITHUB_TOKEN }}
