name: spell-check

on:
  pull_request:
  workflow_dispatch:

jobs:
  spell-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Run spell-check
        uses: autowarefoundation/autoware-github-actions/spell-check@v1
        with:
          cspell-json-url: https://raw.githubusercontent.com/tier4/autoware-spell-check-dict/main/.cspell.json
          local-cspell-json: .driving_log_replayer.cspell.json
          dict-packages: |
            https://github.com/tier4/cspell-dicts
          incremental-files-only: false
